section {
    margin-bottom: 5em;
}
h1 {
    font-family: Monaco;
    font-weight: bold;
    text-align: center;
    font-size: 4em;
}

img {
    position: relative;
    height: 12em;
    width: 12em;
    vertical-align: top;
    display: block;
    margin-left: auto;
    margin-right: auto
}

p {
    display: block;
    text-indent: 50px;
    font: Tahoma;
    font-size: 1.5em;
}

section {
    border-style: groove;
    border-color: #FFE83D;
    Border-width: 10px;
    margin-right: 150px;
    margin-left: 150px;
}

.game {
    height: 20em;
    width:25em;
}


