h1 {
    font-family: Monaco;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    border-style: groove;
    border-color: #FFE83D;
    background-color: #39558F;
    Border-width: 10px;
}

img {
    position: relative;
    height: 12em;
    width: 20em;
    vertical-align: top;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table { margin-left: auto;
    margin-right: auto;}

p {
    display: block;
    text-indent: 50px;
    font: Tahoma;
    font-size: 20px;

}

section {
    border-style: groove;
    border-color: #FFE83D;
    Border-width: 0.7em;
    padding: 0.5em;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 5em;
}

h8 {
    bottom: 0;
    left: 0;
    float: left;
    position: relative;
    margin-top: 20px;
}



